@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
body {
  font-family: "Lato";
  font-size: 14px;
  margin: 0;
}

* section, header {
  margin: 1rem 5%;
}

.footer {
  padding: 0 5%;
}

a {
  text-decoration: none;
  text-align: center;
  color: grey;
}

li {
  list-style: none;
}

.nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 30px;
  font-family: "Lato";
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

.btn {
  background-color: white;
  color: black;
  padding: 5px;
  display: inline-block;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
}

.logotop {
  width: 15%;
}
.logotop img {
  width: 100%;
}

#section-learn {
  background-color: #e7816b;
  border-radius: 10px;
}
#section-learn .learn-container {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section-learn .learn-container .learn-txt {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
}
#section-learn .learn-container .learn-txt a {
  width: 30%;
}
#section-learn .learn-container .learn-img {
  width: 15%;
  height: 250px;
  padding-top: 2rem;
  padding-bottom: -1rem;
  overflow: hidden;
  margin-bottom: 0%;
}
#section-learn .learn-container .learn-img img {
  width: 100%;
}

#section-services .service-container {
  color: white;
  display: flex;
  gap: 5px;
}
#section-services .service-container .service, #section-services .service-container .mini-service, #section-services .service-container .mini-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-services .service-container .service {
  background-image: url(../img/homme-assis-batiment.jpg);
  background-size: cover;
  width: 50%;
  height: 50vh;
  border-radius: 10px;
  gap: 0.5rem;
}
#section-services .service-container .mini-container {
  width: 50%;
  height: 50vh;
  gap: 5px;
  border-radius: 10px;
}
#section-services .service-container .mini-container .un {
  width: 100%;
  height: 100%;
  background-image: url(../img/passport.jpg);
  background-size: cover;
  border-radius: 10px;
  gap: 0.5rem;
}
#section-services .service-container .mini-container .deux {
  width: 100%;
  height: 100%;
  background-image: url(../img/montgolfiere.jpg);
  background-size: cover;
  border-radius: 10px;
  gap: 0.5rem;
}

#section-features {
  position: relative;
  z-index: 1;
  background-image: url(../img/wave.svg);
  background-size: cover;
  margin: 0;
}
#section-features h2 {
  text-align: right;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-right: 5%;
}
#section-features .features {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
}
#section-features .features .feature {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#section-features .features .feature p {
  color: gray;
}
#section-features .features .feature .icone {
  width: 30%;
}

#section-getintouch {
  position: relative;
  z-index: 2;
  background-color: #e7816b;
  border-radius: 10px;
  margin-bottom: -7%;
}
#section-getintouch .get-container {
  width: 100%;
  padding: 3rem 0rem 3rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section-getintouch .get-container .get-txt {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
}
#section-getintouch .get-container .get-txt a {
  width: 30%;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: gray;
  position: relative;
  z-index: 1;
}
.footer .footop {
  margin-top: 15%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.footer .footop .logo {
  width: 25%;
}
.footer .footop .logo img {
  width: 100%;
}
.footer .footbot {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  line-height: 50%;
  padding: 2rem 0;
}
.footer .footbot .social {
  display: flex;
  width: 10%;
  gap: 5px;
  align-items: center;
}
.footer .footbot .social img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
